<div class="container-fluid">
  <div class="comment-index">
  <h2> 客户反馈信息 </h2>
   <div class="container">
      <table class="table table-default ">
        <thead>
          <tr>
            <th>用户名</th>
            <th>邮箱地址</th>
            <th>建议信息内容</th>
          </tr>
        </thead>
        <tbody>
          <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.comments %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
