<div class="main-banner" id="main-banner">

      <h1 class="lplh-58">
         <span style="font-size: 48px; color:white;">属 于 你 的 时 间 不 再 受 到 束 缚</span>
      </h1>
      <p class="lplh-22" style="text-align: center;">
        <span style="color:#ffffff;"><span style="font-size: 22px;">解放你的双手，享受每一刻幸福时光</span></span>
      </p>
        <div class="lp-pom-button">
          <a class="lp-element lp-pom-button" id="lp-pom-button-16" href="/welcome" target=""><span class="label">立刻享受</span></a><
        </div>
</div>

<div class="promise" id="promise">
   <div class="promise-title" id="promise-title">
      <h2 class="lplh-34" style="text-align: center;">
        <span style="font-size: 36px;">我们致力于环保、省心的产品</span>
      </h2>
   </div>
   <div class="lp-element lp-pom-text nlh" id="lp-pom-text-23">
       <span style="background-color: transparent; font-size: 14px;">据统计，中国每年平均一半以上的人阅读量少于一本书。
         随着城市化的发展，人们可支配时间变得越来越少，工作与家庭生活之间的平衡使得人们越来越难以抽离出时间去关心自己的健康与成长。
         是否感觉每天烦琐重复的家务让你费神而又耗时？我们的产品也许可以帮你解决。</span>
  </div>
 </div>
    <div class="container text-center bg-grey">
      <div class="row text-center prove">
        <div class="col-md-4 pic">
          <div class="thumb">
            <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fdhq1lv39ej30dw099mxt.jpg" alt="获得成长">
            <p><strong>获得成长</strong></p>
            <div>解放你的双手，腾出时间让你获得提升和成长</div>
          </div>
        </div>
        <div class="col-md-4 pic">
          <div class="thumb">
            <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fdhq1j2lydj30ci08aagj.jpg" alt="更多陪伴">
            <p><strong>更多陪伴</strong></p>
            <div>让你拥有更多的幸福时光陪伴你爱和爱你的家人</div>
          </div>
        </div>
        <div class="col-md-4 pic">
          <div class="thumb">
            <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fdhq1fghihj308c04rdg4.jpg" alt="享受生活">
            <p><strong>享受生活</strong></p>
            <div>享受自我，感受忙里偷闲所带来愉悦，为下一次出发前补充能量</div>
          </div>
        </div>
      </div>
    </div>
<hr>
<!-- Prove -->

  <div class="container prove-comment">
    <div class="commentIcon">
      <div class="thumb-img">
        <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fdhs959rv9j30dw0dwgoi.jpg">
      </div>
    </div>
    <div class="commentContent-1">
      <div class="comment-content">
        <p>“最重要是省心省力省时，现在我可以将节省下来的时间去健身房了！你值得拥有！”
        <br><br><br>
        <strong>John Smith</strong>
        </p>
      </div>
    </div>
    <div class="commentIcon">
      <div class="thumb-img">
        <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fdhslhaur6j30by0bygoq.jpg">
      </div>
    </div>
    <div class="commentContent-1">
      <div class="comment-content">
        <p>“再也不用为烦琐的家务而烦恼了，大家也觉得我的生活越来越滋润，我秘密就是在IROBOT找到家里好帮手。”
          <br><br>
          <strong>Jone Christina</strong>
        </p>
      </div>
    </div>
  </div>
<div class="sub-banner" id="sub-banner">
    <div class="sub-title">
      <h2 style="font-size: 48px;">您宝贵的时间怎么可能为琐碎的事情而浪费呢？</h2>
    </div>
    <div class="lp-pom-button">
      <a class="lp-element lp-pom-button" id="lp-pom-button-17" href="/welcome" target=""><span class="label">立刻享受</span></a><
    </div>
</div>
