<div class="main-banner" id="main-banner">

        <h1 class="lplh-58">
           <span style="font-size: 48px; color:white;">属 于 你 的 时 间 不 再 受 到 束 缚</span>
        </h1>
        <p class="lplh-22" style="text-align: center;">
          <span style="color:#ffffff;"><span style="font-size: 22px;">解放你的双手，享受每一刻幸福时光。</span></span>
        </p>
      <a class="lp-element lp-pom-button" id="lp-pom-button-16" href="#" target=""><span class="label">&#8;立刻享受</span></a>

</div>
<div class="promise" id="promise">
   <div class="promise-title" id="promise-title">
      <h2 class="lplh-34" style="text-align: center;">
        <span style="font-size: 36px;">我们致力于环保、省心的产品</span>
      </h2>
   </div>
   <div class="lp-element lp-pom-text nlh" id="lp-pom-text-23">
     <div class="lplh-29" style="text-align: center;">
       <span style="background-color: transparent; font-size: 14px;">&#8; <span style="background-color: transparent; font-size: 14px;">据统计，中国每年<span style="background-color: transparent; font-size: 14px;"><span style="background-color: transparent; font-size: 14px;">平均</span></span>一半以上的人阅读量少于一本书。</span>随着城市化的发展，人们可支配时间变得越来越少，工作与家庭生活之间的平衡使得人们越来越难以抽离出时间去关心自己的健康与成长。是否感觉每天烦琐重复的家务让你费神而又耗时？我们的产品也许可以帮你解决。</span>
     </div>
   </div>
    <div class="container-fluid text-center bg-grey">
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="paris.jpg" alt="Paris" width="400" height="300">
            <p><strong>Paris</strong></p>
            <p>Yes, we built Paris</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="newyork.jpg" alt="New York" width="400" height="300">
            <p><strong>New York</strong></p>
            <p>We built New York</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="sanfran.jpg" alt="San Francisco" width="400" height="300">
            <p><strong>San Francisco</strong></p>
            <p>Yes, San Fran is ours</p>
          </div>
        </div>
      </div>
    </div>
