
/* main-banner */
#main-banner{
  margin-top:-20px;
  background-image: url('https://ww3.sinaimg.cn/large/006tKfTcgy1fdhjh98mt4j30xc0ieu0d.jpg');
  background-size: cover;
  height:600px;
  width:100%;
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-filter: brightness(.5);filter: brightness(.7);
}
.lplh-58{
  margin-left:40px;
  text-align: center;
  padding-top:18px;
  z-index: 10;
  
}

#lp-pom-button-16 {
  display:block;
  border-style:solid;
  behavior:url(/PIE.htc);
  border-radius:3px;
  left:359px;
  top:370px;
  z-index:2;
  width:268px;
  height:56px;
  position:absolute;
  background:rgba(214,62,75,1);
  -pie-background:rgba(214,62,75,1);
  box-shadow:none;
  text-shadow:none;
  color:#fff;
  border-width:1px;
  border-color:#8f2831;
  font-size:26px;
  line-height:31px;
  font-weight:bold;
  font-family:PT Sans;
  text-align:center;
  background-repeat:no-repeat;
}
#lp-pom-button-16:hover {
  background:rgba(203,47,58,1);
  -pie-background:rgba(203,47,58,1);
  box-shadow:none;
  color:#fff;
}
#lp-pom-button-16:active {
  background:rgba(193,39,49,1);
  -pie-background:rgba(193,39,49,1);
  box-shadow:none;
  color:#fff;
}

#promise-title {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:95px;
  top:810px;
  z-index:6;
  width:750px;
  height:33px;
  position:absolute;
}
